.footer {
  margin-top: 40px;
  text-align: center;
  padding-bottom: 32px;
}

.footer-icons {
  font-size: 24px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer-text {
  margin-top: 12px;
  font-size: 14px;
}
